Django==4.2
django-bootstrap-v5==1.0.11
django-cleanup==9.0.0
django-crispy-forms==2.5
django-cron==0.6.0
fontawesomefree==6.6.0
whitenoise==6.11.0
python-decouple==3.8
beautifulsoup4==4.14.3
scikit-learn==1.8.0
opencv-python==4.13.0.90
pillow==12.1.0
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
PyMuPDF==1.26.7
PyPDF2==3.0.1
pypdfium2==5.8.0
python-docx==1.2.0
python-pptx==1.0.2
xlsxwriter==3.2.9
spacy==3.8.11